@{
    ViewBag.Title = "Home Page";
}

<div class="container mt-4">
    <h2 class="text-center">Bienvenido</h2>
    <hr />

    <div class="row text-center">

        <div class="col-md-4">
            <div class="card shadow text-white bg-primary mb-3">
                <h5 class="card-title">Saldo Total</h5>
                <h3>@ViewBag.Saldo</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow text-white bg-success mb-3">
                <h5 class="card-title">Cuentas Activas</h5>
                <h3>@ViewBag.CuentasActivas.Count</h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow text-white bg-warning mb-3">
                <h5 class="card-title">Transacciones del Día</h5>
                <h3>@ViewBag.Transacciones.Count</h3>
            </div>
        </div>
    </div>

    <h4>Mis Cuentas</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <td># Cuenta</td>
                <td>Tipo</td>
                <td>Saldo</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var cuenta in @ViewBag.CuentasActivas)
            {
                <tr>
                    <td>@cuenta.IdCuentas</td>
                    <td>@cuenta.TipoCuenta.Nombre</td>
                    <td>@cuenta.Saldo</td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <h4>Últimas Transacciones</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Fecha</td>
                <td>Tipo</td>
                <td>Monto</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaccion in ViewBag.Transacciones)
            {
                <tr>
                    <td>@transaccion.Fecha</td>
                    <td>@transaccion.TipoTransaccion.Nombre</td>
                    <td>@transaccion.Monto</td>
                </tr>
            }
        </tbody>
    </table>
</div>